h4 {
	color: #6c6c6c;
	font-weight: 400;
	font-size: 1.2rem;
}

.select {
	margin-top: 0.3em;
	width: 100%;
	height: fit-content;
	border-radius: 5px;
	padding: 0.5em;
	border: none;
	background-color: rgb(40, 234, 224);
	font-size: 2rem;
}

.btns-container {
	margin-top: 1em;
	width: 200px;
	height: fit-content;

	display: flex;
	justify-content: space-between;

	.approve-btn,
	.cancel-btn {
		height: 30px;
		width: 82px;
		border-radius: 5px;
		padding: 0.5em;
		border: none;

		background-color: lightgreen;
		transition: 500ms;
	}

	.cancel-btn {
		background-color: lightcoral;
	}

	.approve-btn:hover {
		background-color: rgb(107, 235, 107);
		transform: translateY(1px);
	}

	.cancel-btn:hover {
		background: #f1928b;
		transform: translateY(1px);
	}
}
