.container {
	height: fit-content;
	width: 410px;
	display: flex;
	flex-direction: column;

	z-index: 1;

	.header {
		width: inherit;
		height: 52px;

		background: #dbdbdb;
		border-width: 1px 1px 0px 1px;
		border-style: solid;
		border-color: #808080;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
		border-radius: 20px 20px 0px 0px;
		padding: 18px;

		z-index: 1;
		pointer-events: none;

		display: flex;
		justify-content: end;

		.close-btn {
			cursor: pointer;
			width: 15px;
			height: 15px;

			background: #eb6b63;
			border: 1px solid #ce544b;
			border-radius: 50%;
			transition: 0.5s;

			font-size: 10px;
			pointer-events: all;
		}

		.close-btn:hover {
			background: #e9847d;
			transform: translateY(1px);
		}

		.close-btn:hover::before {
			content: '✕';
		}
	}

	.body {
		width: inherit;
		height: 470px;

		background: #ffffff;
		border: 1px solid #808080;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 0 0 20px 20px;

		.main-block {
			display: flex;
			height: fit-content;
			width: inherit;
			justify-content: space-around;
			align-items: center;
			padding: 18px;

			.avatar {
				width: 138px;
				height: 138px;
				background: #d9d9d9;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 10px;

				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 40px;
			}

			.info {
				display: flex;
				height: 138px;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				.nickname-container {
					cursor: pointer;
					width: 210px;
					height: 38px;

					background: #d9d9d9;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 10px;

					display: flex;
					justify-content: flex-start;
					padding-left: 0.7em;
					padding-right: 0.7em;
					align-items: center;

					h1 {
						font-size: 17px;
						font-weight: 400;
					}

					transition: 500ms;
				}

				.nickname-container:hover {
					background-color: #d9c4c4;
				}

				.status-container {
					cursor: pointer;
					width: 210px;
					height: 38px;

					background: #d9d9d9;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 10px;

					display: flex;
					justify-content: flex-start;
					padding-left: 0.7em;
					padding-right: 0.7em;
					align-items: center;

					h1 {
						font-size: 17px;
						font-weight: 400;

						span {
							color: #6c6c6c;
						}
					}

					transition: 500ms;
				}

				.status-container:hover {
					background-color: #d9c4c4;
				}

				.friends-container {
					width: 210px;
					height: 35px;
					display: flex;
					justify-content: flex-start;
					gap: 0.6em;
					align-items: center;

					h3 {
						font-weight: 400;
						font-size: 14px;
					}

					.friend-avatar-miniature {
						cursor: pointer;
						width: 35px;
						height: 35px;

						background: #d9d9d9;
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
						border-radius: 5px;

						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 20px;

						transition: 500ms;
					}

					.friend-avatar-miniature:hover {
						transform: scale(1.1);
					}

					.expand-friends-btn {
						cursor: pointer;
						width: 15px;
						height: 15px;

						background: #69c25f;
						border: 1px solid #d69f50;
						border-radius: 50%;
						transition: 0.5s;
						text-align: center;

						font-size: 10px;
					}

					.expand-friends-btn:hover {
						background: #8cbe86;
						transform: translateY(1px);
					}

					.expand-friends-btn:hover::before {
						content: '☰';
					}

					.no-friends-msg {
						font-size: 0.8em;
						margin-left: 0.5em;
						color: gray;
					}
				}
			}
		}

		.bio-block {
			width: inherit;
			height: 258px;
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			padding: 18px;
			align-items: center;

			h2 {
				padding: 25px;
				width: inherit;
				height: 26px;
				font-weight: 400;
				font-size: 20px;

				text-align: start;
				display: flex;
				align-items: center;

				color: #000000;
			}

			.bio-container {
				width: 360px;
				min-height: fit-content;

				background: #f0f0f0;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 10px;
				padding: 18px;
				color: #6c6c6c;

				overflow: scroll;
			}
		}
	}
}
