.textarea {
	font-size: 1.1rem;
	width: 400px;
	height: 300px;

	resize: none;

	overflow: scroll;

	border: 2px solid gray;
	padding: 0.5em;
	border-radius: 5px;
}

.textarea.dark {
	color: rgb(189, 189, 189);
	border: 2px solid rgb(83, 70, 70);
	background-color: rgb(59, 54, 54);
}

textarea:focus {
	outline: none;
}
